<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Rehab Gym</title>
	<link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div class="container">
		<header>
			<img src="img/logo.png" alt="Fin logga">
		</header>
		<nav>
			<a href="index.html"><h2>Startsida</h2></a>
			<a href="boka.html"><h2>Boka</h2></a>
			<a href="logga_in.html"><h2>Logga in</h2></a>
		</nav>
		<%= yield %>
	</div class="container">
</body>

</html>