body{
	margin: 0;
	padding: 0;
	background-color: rgb(19, 199, 88);
}

.container{
	display: grid;
	height: 200vh;
	grid-template-rows: repeat(8, 1fr);
	background-color: rgb(19, 199, 88);
	font-family: 'Kreon', serif;
	text-align: center;
}

header>img{
	width: 100%;
	height: auto;
}
