body{
	margin: 0;
	padding: 0;
}

.container{
	display: grid;
	height: 200vh;
	grid-template-rows: repeat(12, 1fr);
	background-color: orangered;
	font-family: 'Kreon', serif;
	text-align: center;
}

h1{
	font-size: 32px;
	color: #313131;
}

h2{
	font-size: 20px;
	color: #297F2D;
}

p{
	font-size: 12px;
	color: #313131;
}

header {
	grid-row: span 2;
	background-color: #FFF;
}

header>img{
	width: 100%;
	height: auto;
}

.nyheter{
	display: grid inherit;
	grid-row: span 3;
	background-color: rgb(19, 199, 88);
	padding: 30px;
	grid-template-rows: repeat(10, 1fr);
}

.news{
	grid-row: span 1;
	background-color: rgb(72, 180, 199);
}

article{
	grid-row: span 3;
}

.medlemskap{
	display: grid inherit;
	grid-row: span 3;
	padding: 30px;
	background-color: #0F6E5C;
}

.membership{
	background-color: rgb(51, 209, 130);
}

.first{
	background-color: #00B265;
	grid-row: span 3
}

.second{
	background-color: #16A085;
}