body{
   
}

.container{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: ; 
    font-family: 'Kreon', serif;
    background-color: #1ABC9C;
}

.nyheter{

}

article{

}

.medlemskap{

}